body {
  background-color: black;
  color: wheat;
}

.contactForm {
  /* outline: 1px solid wheat; */
  margin-bottom: 10px;
  margin-left: 10px;
}
.inputName,
.inputNumber {
   display: flex;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px; 
}

.formBtn {
  padding: 5px;
  font-size: 15px;
  margin-bottom: 10px;
}
